<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
    
    {% block 'head' %} {% endblock %}
    <title>{% block 'titulo' %} {% endblock %}</title>
  </head>
  
  
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container">
        <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/" target="_blank">
        <strong class="blue-text" >JSM E-COMMERCE</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

       <!-- Right -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/cadastro">Cadastro Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/listaclientes">Lista Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/produto">Cadastro Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/visualizarproduto">Lista Produto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/pedido">Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/visualizarpedido">Lista Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/logout" target="_blank">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/admin" target="_blank">Admin</a>
          </li>

          <li class="nav-item">
            <a href="https://github.com/hinale/juntas-somos-mais"
              class="nav-link border border-light rounded waves-effect" target="_blank">
              <i class="fab fa-github mr-2"></i>JSM GitHub
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
    

    {% block 'conteudo' %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" </script>

  </body>
</html>