{% extends 'base.html' %}

{% block 'titulo' %} Lista de clientes {% endblock %}

{% block javascript %}

<script>

  //jquery - essa função escuta a caixinha de filtro, sófunciona quando digitamos na caixinha de texto
  $(document).ready(function(){
    $("#myInput").on("keyup", function() { 
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });

  function confirmar(id){
    //ajax - faz a requisição ao servidor sem precisar carregar toda a página
    //essa função só será ativada quando clicamos no excluir
    $.ajax({ 
        url: 'clientetempedidos/' + id,
        dataType: 'json',
        success: function (data) {
            console.log(data);
            //se tiver pedido não vai permitir excluit o cliente
            if (data.result == true){           
                alert("Não é possível excliur o cliente porque existem pedidos relacionados.");
            } else {
                if(confirm("Excluir o cliente?")){
                    window.location.href = '/cliente/excluir/' + id;
                }
            }
        },
        error: function(err) {
            console.log(err);
        }
    });

}
  
</script>
{% endblock %}

{% block 'conteudo' %}
<div class="container">
  {#caixinha que filtra#}
    <input class="form-control" id="myInput" type="text" placeholder="Procurar cliente...">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="myTable">
          {% for  usuario in usuario_number %} 
            <tr>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.email }}</td>
              <td><a href="{% url 'editar-cliente' usuario.id %}">Editar</a> | <a href="javascript:void(0);" onclick="confirmar({{ usuario.id }})">Excluir</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

