{% extends 'base.html' %}

{% block 'titulo' %} Lista de clientes {% endblock %}

{% block 'conteudo' %}

<div class="container">
    <br><br><br><br><br>
    <div class="row">
  
      <div class="col-md">
        
      </div>
  
      <div class="col-md">
        <br><br><br>
        <h1>Lista de Clientes</h1>
        <hr>{% comment %}  para colocar uma linha abaixo do Lista de clientes {% endcomment %}
  
        {% for usuario in usuario_number %} <br>
            Nome: {{ usuario.nome }}, <br>
            Email: {{ usuario.email}},<br>
            
        {% endfor %}
        <br><br><br>
      </div>
  
      <div class="col-md">
        
      </div>


{% endblock %}