{% extends 'base.html' %}

{% block 'titulo' %} Cadastro de Pedido{% endblock %}

{% block javascript %}
    <script>
        $("#id_produto").change(function () {
        var product_id = $(this).val();

        $.ajax({
            url: 'get_product_priece',
            data: {'product_id': product_id },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                $("#id_valorUnitario").val(data["product_priece"]);
            },
            error: function(err) {
                console.log(err);
            }
        });
        });
    </script>
{% endblock %}

{% block 'conteudo' %}
<br>

<div class="container">
  <br><br><br>
    <div class="row">

        <div class="col-md">
      
        </div>

        <div class="col-md">
            <h2>Cadastro de Pedido</h2>
            <hr>{% comment %}  para colocar uma linha abaixo do Cadastro de Pedido {% endcomment %}
  
            <form action="{% url 'pedido' %}" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input class="dados-btn" type="submit" value="continuar" />
            </form>
        </div>

        <div class="col-md">
          
        </div>
        
{% endblock %}
