{% extends 'base.html' %}

{% block 'titulo' %} Cadastro de Produtos{% endblock %}

{% block 'conteudo' %}


<div class="container">
  
  <div class="row">

    <div class="col-md">
      
    </div>

    <div class="col-md">
      <h2>Cadastro de Produtos</h2>
        <hr>{% comment %}  para colocar uma linha abaixo do Cadastro de Produtos {% endcomment %}
  
      <form action="{% url 'produto' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input class="dados-btn" type="submit" value="Cadastrar" />
      </form>
    </div>

    <div class="col-md">
      
    </div>
    
{% endblock %}
