{% extends 'base.html' %}

{% block 'titulo' %} Lista de produtos {% endblock %}

{% block javascript %}
<script>
    
    //jquery - essa função escuta a caixinha de filtro, sófunciona quando digitamos na caixinha de texto
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

     //ajax - faz a requisição ao servidor sem precisar carregar toda a página
    //essa função só será ativada quando clicamos no excluir
    function confirmar(id){

        $.ajax({
            url: 'existepedidos/' + id,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.result == true){           
                    alert("Não é possível excliur o produto porque existem pedidos relacionados.");
                } else {
                    if(confirm("Excluir o produto?")){
                        window.location.href = '/produto/excluir/' + id;
                    }
                }
            },
            error: function(err) {
                console.log(err);
            }
        });

    }
    
</script>
{% endblock %}

{% block 'conteudo' %}
<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Procurar produto...">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Categoria</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Quantidade</th>
            {% if usuario.logado %}
            <th>Ações</th>
            {% endif %}
        </tr>
        </thead>
        <tbody id="myTable">
        {% if produto %}
            {% for produto in produto %} 
                <tr>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.valor }}</td>
                <td>{{ produto.quantidade }}</td>
                {% if usuario.logado %}
                <td><a href="{% url 'editar-produto' produto.id %}">Editar</a> | <a href="javascript:void(0);" onclick="confirmar({{ produto.id }})">Excluir</a></td>
                {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>NENHUM PRODUTO CADASTRADO</tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
